* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding:10px 2px 0px 2px;
}

p {
  color: #252525;
  line-height: 1.5em;
  font-size: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h1, h2, h3, nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Default section styling */
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}

section h3 {
  text-align: center;
  position: relative;
  margin: 25px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

section h3:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

/* Header defaults */
header {
  display: flex;
  margin: 0 4em;
  position: fixed;
  z-index: 2;
}

header nav {
  display: flex;
  padding: 0.5em;
  padding-left: 2em;
  padding-bottom: 2em;
  width: calc(100vw - 8em);
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 2em 2em;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px;
}

.nav-item a:hover {
  color: cornflowerblue;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: #d3d3d3;
}

.logo-container {
  width: 100%;
  max-width: 1000px;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 5px;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  background-color: white;
  opacity: 0.7;
}
#logo {
  display: block;
  margin: 70px auto 50px auto;
  width: 30%;
}

#gallery-bg {
  background-image: url("images/bg/castle.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

/* Animations for Image Carousel */
.gallery-container {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 5px;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  background-color: white;
  opacity: 0.7;
}

/* Move slides left */
.gallery-container .move-left-current-slide {
  animation-name: move-left-current;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.gallery-container .move-left-next-slide {
  animation-name: move-left-next;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes move-left-current {
  from {
    margin-left: 0;
    opacity: 1;
  } to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes move-left-next {
  from {
    margin-left: 100%;
    opacity: 1;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

/* Move slides right */
.gallery-container .move-right-current-slide {
  animation-name: move-right-current;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.gallery-container .move-right-next-slide {
  animation-name: move-right-next;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes move-right-current {
  from {
    margin-left: 0;
    opacity: 1;
  } to {
    margin-left: 100%;
    opacity: 1;
  }
}

@keyframes move-right-next {
  from {
    margin-left: -100%;
    opacity: 1;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

/* Move image-text */
.slide-text-from-bottom {
  animation-name: slide-text-from-bottom;
  animation-duration: .7s;
  animation-timing-function: ease-out;
}

@keyframes slide-text-from-bottom {
  from {
    margin-top: 100px;
    opacity: 0;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

.slide-text-from-top {
  animation-name: slide-text-from-top;
  animation-duration: .7s;
  animation-timing-function: ease-out;
}

@keyframes slide-text-from-top {
  from {
    margin-top: -100px;
    opacity: 0;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

.gallery-container #gallery-name {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0px auto;
  padding: 2.5px;
}

/* Image dots */
.gallery-container #dots-container {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.gallery-container #dots-container .dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.5s;
}

.gallery-container #dots-container .dots:hover, .gallery-container #dots-container .dots.active {
  background-color: #717171;
}

.gallery-container #dots-container .dots:first-child {
  margin-left: 0;
}

.gallery-container .slide-show-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-color: rgba(black, 0.5);
  position: relative;
}

/* Play pause btn */
.gallery-container .slide-show-container #play-pause-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  margin: 30px 0px 0px 15px;
  background-image: url("images/play-stop-btn.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  background-position-y: -33px;
}

.gallery-container .slide-show-container #play-pause-btn:hover {
  width: 35px;
  height: 35px;
  opacity: 1;
}

.gallery-container .slide-show-container .image-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.gallery-container .slide-show-container .image-holder img {
  width: 100%;
  height: 100%;    
}

/* Image text caption and number */
.gallery-container .slide-show-container .image-holder .caption {
  display: none;
}

.gallery-container .slide-show-container .image-holder .number-text {
  color: whitesmoke;
  font-size: 15px;
  margin-left: 5px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* CSS for right and left arrows */
.gallery-container .slide-show-container .left-arrow, .gallery-container .slide-show-container .right-arrow {
  width: 50px;
  background: #00000036;
  position: absolute;
  left:0;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gallery-container .slide-show-container .right-arrow {
  left: auto;
  right: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.gallery-container .slide-show-container .left-arrow:hover, .gallery-container .slide-show-container .right-arrow:hover {
  background: #000000a8;
  cursor: pointer;
}

.gallery-container .slide-show-container .arrow {
  display: inline-block;
  border: 3px solid whitesmoke;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:  0;
}

.gallery-container .slide-show-container .arrow.arrow-left {
  transform: rotateZ(-135deg);
}

.gallery-container .slide-show-container .arrow.arrow-right {
  transform: rotateZ(45deg);
}

.gallery-container .slide-show-container>.caption-holder {
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background: #00000047;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.gallery-container .slide-show-container>.caption-holder>.caption-text {
  margin: 0;
  bottom: 0;
  z-index: 1;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background: #00000047;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

/* ScrollMagic Animation */
.sections {
  transition: all 2s ease-out;
  filter: blur(20px);
}

.sections.unblurr {
  filter: blur(0);
}

/* About Section CSS */
#about {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  background-color: white;
  opacity: 0.7;
}

#about-bg {
  background-image: url("images/bg/sunflower.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

#about-bg.fixed {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.text-up {
  transition: all 2s ease-out;
  filter: blur(20px);
}

.text-up.unblurr {
  filter: blur(0);
}

.flex {
  display: flex;
}

#about p {
  width: 60%;
  padding: 2em;
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: rgba(black, 0.5);
  position: relative;
  size: 60px;
}

#about #headshot img {
  align-self: flex-end;
  padding: 10px;
  border-radius: 50%;
  width: 95%;
  height: 350px;
}

/* ScrollMagic Animation */
.headshot img {
  transition: all 3s ease-out;
  filter: blur(20px) grayscale(20%);
}

.headshot img.unblurr {
  filter: blur(0) grayscale(0);
}

/* Portforlio CSS */

#portfolio-bg {
  background-image: url("images/bg/sunflower.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

#portfolio-bg.fixed {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#portfolio {
  width: 100%;
  height:100vh;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  background-color: white;
  opacity: 0.7;
}

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  width:90%;
  height: 60%;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* never visible - this is used in jQuery to check the current MQ */
.cd-horizontal-timeline::before {
  content: 'mobile';
  display: none;
}

/* show the timeline after events position has been set (using JavaScript) */
.cd-horizontal-timeline.loaded {
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

/* these are used to create a shadow effect at the sides of the timeline */
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

/* this is the black line/timeline */
.cd-horizontal-timeline .events {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: black;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

/* this is used to create the green line filling the timeline */
.cd-horizontal-timeline .filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:  #1aa3ff;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: black;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* this is used to create the event spot */
.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color:  #1aa3ff;
  border-color:  #1aa3ff;
}

.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}

.cd-horizontal-timeline .events a.selected::after {
  background-color:  #1aa3ff;
  border-color:  #1aa3ff;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color:  #1aa3ff;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

/* these are the left/right arrows to navigate the timeline */
.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

/* arrow icon */
.cd-timeline-navigation a::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("images/arrow.svg") no-repeat 0 0;
}

.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color:  #1aa3ff;
}

.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* visible event content */
.cd-horizontal-timeline .events-content li.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-content h3 {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

.cd-horizontal-timeline .events-content p {
  font-size: 1rem;
  color: black;
}

.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h3 {
    font-size: 1.8rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1.5rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

html, body, div, span, applet, object, iframe,
h1, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cd-horizontal-timeline {
  transition: all 2s ease-out;
  filter: blur(20px);
}

.cd-horizontal-timeline.unblurr {
  filter: blur(0);
}

/* ScrollMagic Animation */
.download {
  transition: all 2s ease-out;
  filter: blur(20px);
}

.download.unblurr {
  filter: blur(0);
}

#portfolio #download-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#portfolio #download-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

#portfolio #download-resume img {
  width: 100px;
  height: 50px;
  opacity: 0.7;
}

#portfolio #download-resume img:hover {
  width: 105px;
  height: 52px;
  opacity: 1;
}

/* Contacts Section */
#contact {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  background-color: white;
  padding-top: 5em;
  opacity: 0.7;
}

#contact-bg {
  background-image: url("images/bg/bus.jpg");
  background-size: cover;
  height: 100%;
}

/* ScrollMagic Animation */
.contact-me {
  transition: all 2s ease-out;
  filter: blur(20px);
}

.contact-me.unblurr {
  filter: blur(0);
}

#email-form {
  display: block;
}

.form-inputs {
  background-color:gray;
  color: white;
}

#contact .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-field {
  color: rgba(4, 0, 255, 0.479);
  font-size: 20px;
  height: 30px;
}

/* Email Popup Animations */
.popup-container {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.button {
  text-decoration: none;
  font-size: .875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: orange;
  color: black;
  padding: 1rem 2rem;
  opacity: 1;
}

.button:hover {
  text-decoration: none;
  font-size: .875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: orange;
  color: black;
  padding: 1rem 2rem;
  opacity: 1;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  overflow: hiden;
  transition: .64s ease-in-out;
}

/* Contents inside popup */
.popup .popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: white;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
  }
  #field-txt {
    color: blue;
  }
  /* Popup texts */
.popup .popup__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}

.popup .popup__text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: blue;
}

.popup .popup__text p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

/* Close popup button */
.popup .popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/* Spam prevention. Makes the field not visible to humans */
#honeypot {
  display: none;
}

.email-btn {
  background-color: #a8f1fe;
}

.send-btn {
  background-color: #a8f1fe;
}

/* Footer Section */
.footer {
  width: 100vw;
  height: 4em;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-note {
  color: #cccccc;
}

.footer-nav {
  color: #cccccc;
}

.footer-nav:hover {
  color: blue;
}

/* Media Queries for responsive design */

@media (max-width: 900px) {
  #message {
    width: 350px;
    height: 100px;
  }
}

@media (max-width: 800px) {
  .popup .popup__text h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .popup .popup-inner {
    max-height: 700px;
  }
}

@media (max-width: 700px) {
  #about {
    height: 900px;
  }

  .flex {
    display: block;
  }

  #about #headshot img {
    width: 50%;
    height: 300px;
    margin-left: 9em;
  }

  .popup .popup__text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .popup .popup__text {
    padding: 3.5rem;
}

  #message {
    width: 300px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  #about {
    height: 900px;
  }

  .flex {
    display: block;
  }

  #about #headshot img {
    width: 50%;
    height: 250px;
    margin-left: 8em;
  }

  #message {
    width: 230px;
    height: 70px;
  }

  #invalid-text {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  #message {
    width: 230px;
    height: 50px;
  }
  .popup .popup-inner {
    max-height: 800px;
  }

  #email-me-text {
    visibility: hidden;
  }

  #email-me-text::after {
    content: "Lets get Coffee!";
    visibility: visible;
    display: block;
    padding-bottom: 1em;
    position: relative;
  }
  #email-fields {
   height: 500px;
  }

  #invalid-text {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #invalid-text::after {
    content: "Please enter valid a email!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    padding: 5px;
    margin: -80px;
    padding-left: 50px;
    padding-top: 25px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .flex {
    display: block;
  }

  #about #headshot img {
    width: 50%;
    height: 250px;
  }

  #about p {
    font-size: 18px;
  }

  #message {
    width: 200px;
    height: 30px;
  }

  #email-me-text {
    visibility: hidden;
  }

  #email-me-text::after {
    content: "Coffee?";
    visibility: visible;
    display: block;
    padding: 5px;
    padding-bottom: 1em;
    position: relative;
  }
}

@media (max-width: 450px) {
  #about p {
    font-size: 17px;
  }

  #message {
    width: 150px;
    height: 30px;
  }

  #email-fields {
    height: 600px;
   }

   #invalid-text {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #invalid-text::after {
    content: "Please enter valid a email!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    padding: 5px;
    margin: -80px;
    padding-left: 35px;
    padding-top: 25px;
    font-size: 12px;
  }
  #portfolio {
    height: 250vh;
  }
}

@media (max-width: 400px) {
  header {
    height: -150px;
  }

  .nav-item a {
    font-size: 1.2em;
  }

  #about {
    height: 900px;
  }

  .flex {
    display: block;
  }

  #about #headshot img {
    width: 50%;
    height: 200px;
    margin-left: 6em;
  }
  .footer {
    font-size: 12px;
  }

}

@media (max-width: 375px) {
  .nav-item a {
    padding: 1px;
  }
}

@media (max-width: 360px) {
  #message {
    width: 120px;
    height: 50px;
  }

  #invalid-text {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #invalid-text::after {
    content: "Please enter valid a email!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    margin: -45px;
  }
  .form-inputs {
    width: 9em;
  }
  
}

@media (max-width: 350px) {
  .nav-item a {
    font-size: 15px;
    padding: 1px;
  }

  #about p {
    font-size: 15px;
  }

  #invalid-text {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #invalid-text::after {
    content: "Please enter valid a email!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    margin: -45px;
  }
}

@media (max-width: 330px) {
  .nav-item a {
    font-size: 15px;
    padding: 1px;
  }

  #email-fields {
    height: 500px;
   }

  .form-inputs {
    width: 7em;
  }

  #message {
    width: 7em;
  }

  #invalid-text {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #invalid-text::after {
    content: "Please enter valid a email!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    margin: -100px;
    padding-left: 50px;
    font-size: 12px;
  }

  #thankyou {
    visibility: hidden;
    display: block;
    position: absolute;
  }

  #thankyou::after {
    content: "Email Sent!";
    visibility: visible;
    display: block;
    position: absolute;
    height: 200px;
    margin: -45px;
    padding-left: 30px;
  }
}

@media screen and (orientation:landscape) {

  #about {
    font-size: 70%;
  }

  #contact-field {
    font-size: 10px;

  }
  .gform {
    width: 100%;
  }

  .popup-container {
    width: 200vw;
 }

 #email-me-text {
  visibility: hidden;
}

#email-me-text::after {
  content: "";
  visibility: hidden;
  padding: 0;
  padding-bottom: 0;
  position: relative;
}
#message {
  height: 20px;
}

.popup .popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 70%;
  padding-left: 1rem;
}
#email-fields {
  height: 50%;
 }
}
